<aside id="sidebar">
  <nav>
    <ul>
      <h3>Paths</h3>

      <% if current_user_admin? %>


      <%= nav_link_to 'Released', movies_path %>
      <%= nav_link_to 'Hits', filtered_movies_path(:hits) %>
      <%= nav_link_to 'Flops', filtered_movies_path(:flops) %>
      <%= nav_link_to 'Upcoming', filtered_movies_path(:upcoming) %>
      <%= nav_link_to 'Recent', filtered_movies_path(:recent) %>
      <%= nav_link_to 'Add New Movie', new_movie_path %>



      <% end %>
    </ul>
  </nav>
  <%= content_for(:side) %>
</aside>
